
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  opacity: 0.75;
}

.background{
  background-image: url(img/taproom.jpeg);
  background-repeat: no-repeat;
  /* width: 1500px;
  height: auto; */
  background-size: cover;
  height: 100%;
  /* overflow: hidden; */

}

.headline {
  text-align: 'center';
  font-weight: 'bold';
  font-size: 18;
  margin-top: 0;
  width: 200;
  background-color: 'yellow';
}